<div class="big-img" style="background-image: url({{ page.hero.image.url }})">
</div>

<div class="text flex-center pad">
  <div class="container">
    <div class="inner-container">
      <h2 class="title-1">{{ page.hero.title }}</h2>
      <p class="regular mar-top-24 scale">{{ page.hero.text1 }}</p>
      <p class="regular mar-top-24">{{ page.hero.text2 }}</p>
    </div>
  </div>
</div>

<div class="big-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.quote1.background.url }})">
  <div class="container">
    <p class="large quote">{{ page.quote1.quote }}</p>
    <p class="mar-top-24"><img src="/imgs/red-rule.svg" />
  </div>
</div>

<div class="text flex-center pad">
  <div class="container">
    <div class="inner-container">
      <h2 class="title-1">{{ page.block1.title }}</h2>
      <p class="regular mar-top-24 scale">{{ page.block1.paragraph1 }}</p>
      {{#if page.block1.paragraph2 }}
      <p class="regular mar-top-24">{{ page.block1.paragraph2 }}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="big-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.quote2.background.url }})">
  <div class="container">
    <p class="large quote">{{ page.quote2.quote }}</p>
    <p class="mar-top-24"><img src="/imgs/red-rule.svg" />
  </div>
</div>

<div class="text flex-center pad">
  <div class="container">
    <div class="inner-container">
      <h2 class="title-1">{{ page.block2.title }}</h2>
      <p class="regular mar-top-24 scale">{{ page.block2.paragraph1 }}</p>
      {{#if page.block2.paragraph2 }}
      <p class="regular mar-top-24">{{ page.block2.paragraph2 }}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="big-img" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.quote3.background.url }})">
  <div class="container">
    <p class="large quote">{{ page.quote3.quote }}</p>
    <p class="mar-top-24"><img src="/imgs/red-rule.svg" />
  </div>
</div>

<div class="text flex-center pad our-team">
  <div class="container">
    <h2 class="title-1 mar-bot-24 scale">{{ page.block3.title }}</h2>
    <p class="img"><img src="/imgs/team-2.jpg"></p>
    <div class="columns">
      <div class="column">
        <p class="regular mar-top-24">After about a decade into my eating disorder, I could start to pinpoint things that were keeping me sick. Every time I would go through treatment, I would lose all sense of self since my core beliefs about food and life were being stripped from me. After months of hard work, I would return home to a closet full of clothes that at one point filled me with such (false) confidence, I would find myself unconsciously striving to fit back into them. Craving that positive attention since I sure wasn’t giving myself any. My closet ranged in sizes, but a lot of them brought up negative memories. I could not afford to buy myself a brand new wardrobe- treatment is expensive. Trying on clothes was overwhelming and quickly revealed my new size. In addition to all the other pressures I faced upon arriving home, I didn’t have a chance. I knew I could not be alone in this aspect of my struggle, so I decided to launch Garment. Garment will empower women in recovery from an eating disorder by providing them with size-less clothing individualized for their healthy bodies. We are not just giving clothing that fits, we are allowing our client to build confidence in other aspects of her life while tackling the worst part-body image.</p>
        <p class="regular bold mar-top-16">—Erin</p>
      </div>
      <div class="column">
        <p class="regular mar-top-24">Eating disorders were not a part of my childhood or adolescence. My only experience with that struggle was peripheral–a friend's younger sister had developed an eating disorder and although I could see some of the strain it put on my friend and his family, the topic was unspokenly off-limits. Eating disorders remained a scary and confusing subject for me as I started college. I met Erin as a freshman and it didn't take long for us to become inseparable. My love for Erin and the healthy relationship we developed together gave me the opportunity to learn what being a part of a support system really meant. Today, I encourage others who are intimidated by supporting someone who is struggling with their eating disorder to be the best role model they can be–to make healthy choices, radiate love, and set a good example for how many incredible things life has to offer.</p>
        <p class="regular bold mar-top-16">—Jordan</p>
        </div>
      </div>
  </div>
</div>